@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: Montserrat, sans-serif;
}

.form-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-top: 2em;
    font-family: inherit;
}

form:invalid {
    border: none;
}

label {
    margin-top: 20px;
}

::placeholder {
    color: rgb(1, 88, 138, 0.6);
}

input, select {
    margin-top: 6px;
    min-width: 15em;
    height: 37px;
    font-size: 16px;
    padding: 0px 10px;
    font-family: inherit;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #0e81ce96
}

.error {
    margin-bottom: -10px;
    color: red;
    font-size: .8em;
    border: 2px red;
}

button {
    background: #1997bf;
    padding: 10px;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.2em;
}