@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: 0;
    height: 80vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.navbarContainer {
    background: #0073ff31;

    min-height: 50px;
    z-index: 100;
    box-shadow: 0 1px 2px 0 #659dbd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MuiButton-root {
    padding-right: 1rem !important;
}

h3 {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    padding: 1rem;
    color: rgb(233, 233, 233);
}

.far {
    color: rgb(233, 233, 233) !important;
    font-size: 30px;
}

.navbarContainer > .logoutButton {
    background-color: #0073ff00;
    border: solid 0px #fff;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;

    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.navbarContainer > .logoutButton:hover {
    background-color: #0073ff31;
    color: white;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    max-height: 100%;
}

.side-menu {
    background: #0073ff31;

    min-width: 150px;
    max-width: 150px;
    z-index: 50;
    box-shadow: 1px 0 2px 0 #659dbd;
    display: flex;
    flex-direction: column;
}

.side-menu > h4 {
    color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem;
    letter-spacing: 0.073em;
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.073em !important;
}

span {
    color: rgb(233, 233, 233);
}

.rm-btn {
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #0072ff,
        #00c6ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #0072ff,
        #00c6ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.rm-btn {
    border: 1px solid #00397e;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.75rem 1rem 0;
    height: 68px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px #00295c;
    transition: 0.5s;
    background-size: 200% auto;
}

.rm-btn > strong {
    font-size: 36px;
}

.rm-btn:hover {
    background-position: bottom center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 3px 1px #00224d;
}

button {
    outline: none;
}

.chat-screen {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 40vw;
}

.chat-body {
    background-color: rgba(218, 218, 218, 0.897);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-right: 1rem;
    overflow: auto;
}

.messages {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
}

.messages:first-child {
    margin-top: auto;
}

.messages > * {
    padding: 0.2rem;
}

.messages > header {
    font-weight: bold;
    min-width: 100px;
    text-align: right;
}

.messages > p {
    margin: 0;
    flex-grow: 5;
    font-family: Montserrat, sans-serif;
}

.messages > footer {
    min-width: 70px;
    text-align: center;
}

.chat-input {
    background: #0073ff31;

    min-height: 70px;
    z-index: 25;
    box-shadow: 0 -1px 2px 0px #659dbd;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    flex-grow: 0;
}

.chat-input > input {
    flex-grow: 1;
    outline: none;
    max-width: 90%;
}

input:required {
    border: 1px solid red;
    outline: none;
}

.chat-input > button {
    flex-grow: 2;
    max-width: 10vw;
    min-width: 13vw;
    margin: 0.25rem;
    padding: 5px;
    border-radius: 0.3125rem;
    background-color: #0374ff86;
    border: solid 1px #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    outline: none;
}

.chat-input > button:hover {
    background-color: transparent;
    border-color: rgb(230, 230, 230);
    transition: all 0.1s ease-in-out;
}
